.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
}

.footer__column-link:hover
{
  opacity: 0.5;
  transition: 0.5s;
}