.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: 400px;
  font-family: "Inter-Regular";
  color: #2f80ed;
  text-decoration: none !important;
  /*border: 1px solid red;*/
}

.khan__buy-link:hover,
a:hover {
  opacity: 0.5;
  transition: 0.5s;

}