.kaufman__triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 438.5px 877px 438.5px;
  border-color: transparent transparent #2f80ed transparent;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;

}